# ----------------------------
# Node
# ----------------------------

lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
settings.json

# ----------------------------
# Webstorm
# ----------------------------

*.iml
*.ipr
*.iws
.idea/


# ----------------------------
# OSX
# ----------------------------

.DS_Store
.AppleDouble
.LSOverride
Icon


# ----------------------------
# Windows
# ----------------------------

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

############################
# tmp, editor & OS files
############################
.tmp
*.swo
*.swp
*.swn
*.swm
.DS_STORE
*#
*~
.idea
nbproject


############################
# Tests
############################
testApp
